/* font-family: 'Nunito',
sans-serif;
font-family: 'Poppins',
sans-serif;
font-family: 'Roboto',
sans-serif;
font-family: 'Roboto Slab',
serif; */
body {
    font-family: 'Poppins', sans-serif !important;
}

body {
    background-image: url('../images/bg-2.png');
    background-repeat: no-repeat;
    background-size: initial;
    background-position: 10px 300px;
    background-attachment: fixed;
}

a {
    text-decoration: none !important;
}

.container {
    margin-bottom: 100px;
}

.dropdown-item:hover {
    background: #0d0349;
    color: #fff;
}

.navbar {
    background: #faeef7 !important;
}

.navbar-collapse {
    justify-content: flex-end;
    margin-right: 30px;
}

.navbar-nav {
    color: black;
    font-weight: 600;
    font-size: 1.09rem;
}

.buy-now-btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background: #0d0349;
    color: #fff;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
}

.buy-now-btn:hover {
    color: #fff;
    background: #170870;
}

.carousel-item {
    padding: 90px 30px 100px 50px;
    background-color: #faeef7;
}

.fa-arrow-right {
    font-weight: 900;
    font-size: 20px;
}

.price {
    color: #0d0349;
    margin: 10px 0px;
    font-size: 25px;
}

.carousel-indicators .active {
    height: 7px;
    width: 30px;
    border-radius: 13px !important;
    background-image: linear-gradient(to right, #9891ff, #0d0349);
}

.carousel-indicators li {
    height: 7px;
    width: 15px;
    border-radius: 10px;
    border-radius: 6px;
    background-color: rgba(128, 128, 128, 0.3);
    margin: 10px 4px;
}

.carousel-item {
    background-image: url('../images/bg-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
}

.card-group {
    gap: 30px;
}

.card {

    border-radius: 10px !important;
    box-shadow: 1px 1px 10px #80808080;
    border: none;
    padding: 15px 10px;
}


.card-footer {
    background: #fff;
    border: none;
}

.see {
    text-transform: lowercase;
    text-decoration: none;
}

.catagories-border {
    background: linear-gradient(to right, #ffa500, #f1f508, #f4f5c1);
    border-radius: 10px;
    margin: auto;
    width: 160px;
    height: 10px;
}

.card img {
    padding: 0 8%;
}

/* .col-md-12 img {
    width: 100%;
} */

.cat {
    box-shadow: 2px 2px 10px lightgray;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 25px;
}

/* .gap {
    gap: 30px;
} */
.bag-cat,
.shoe-cat,
.perfume-cat {
    box-shadow: 1px 1px 10px #b9b7b7;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 25px;
    padding: 10%;
}

.account {
    border-radius: 5px;
    box-shadow: 1px 1px 10px #8a8888;
    padding: 25px;
    line-height: 30px;
}

.recommendations {
    border: 1px solid #cecdcd;
    border-radius: 5px;
    padding: 10px;
}

.back-to-top {
    padding: 1%;
    box-sizing: border-box;
    background: #37475a;
}



.open-ac a {
    color: #ffc107;
}

.footer {
    background: #232f3e;
    color: white;
    padding: 20px 10px 10px 10px;
    margin-bottom: 0px;
}

.i {
    gap: 20px;
}

.i a i {
    font-size: 2rem;
    text-decoration: none;
}

.i a i:hover {
    color: #b6b4b4 !important;
}

.sign-in {
    margin-top: 0.5rem;
}

























/* Media Queries Here */
@media (min-width:576px) and (max-width:767px) {

    .container-card {
        max-width: 700px !important;
    }

    .news {
        gap: 10px;
    }

    .initial-flex {
        flex-direction: initial !important;
    }
}

@media (min-width:0px) and (max-width:767px) {
    .footer-logo {
        align-items: center;
    }

}

@media (min-width:0px) and (max-width:575px) {
    html {
        font-size: 95%;
    }
}

@media (min-width:0px) and (max-width:424px) {
    html {
        font-size: 90%;
    }
}

@media (min-width:0px) and (max-width:319px) {
    html {
        font-size: 80%;
    }
}